button {
  background-color: none;
  outline: none;
  border-style: none;
}
button::after {
  border: none;
}

.btn {
  box-sizing: border-box;
  height: 47px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  outline: none;
  
  &:active {
    opacity: 0.6;
  }

  &-primary {
    border: none;
    background-color: #1890ff;
    color: #fff;
  }

  &-warning {
    border: none;
    background-color: #dc0711;
    color: #fff;
  }

  &-ghost {
    border: 1px solid #1890ff;
    color: #1890ff;
    background-color: #fff;
  }

  &-small {
    width: 80px;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
    border-radius: 12px;
  }

  &-large {
    width: 100px;
    height: 60px;
    font-size: 26px;
    line-height: 60px;
    border-radius: 12px;
  }

  &-disabled {
    opacity: .3;
    &:active {
      opacity: 0.3 !important;
    }
  }
}
